
@font-face { font-family: 'SegoeUI' !important; src: url('icons/segoeuil.TTF') !important; }

body{
	background-color:#f6f6f6 !important;
	text-shadow:none !important;
	border:0px solid white !important;
	font-family: 'SegoeUI' !important;
}

.corner{
	float:right;
	width:37px;
	height:37px;
}

.theHeader:not(#dialog_header), .ui-header:not(#dialog_header){
	background: repeat url("./icons/background.png"); 
	height: 90px;
	margin:0px !important;
	padding:0px !important;
	width:100%;
}


.header_title{
	font-size: 25px;
	top:30px;
	position:relative;
	font-family: 'SegoeUI';
	color:white;
	text-shadow:none;
}


.ui-header{
	background-color:#f6f6f6 !important;
	padding:0px !important;
}


.ui-content{
	padding: 0px!important;
	margin:0px !important;
}

.b:active{
	background-color: rgba(255,255,255,0.3) !important;
	border-bottom: 1px solid rgba(255,255,255,0.3) !important;
}



.ui-li {
	/* panel items parameters */
	height:92px !important;
	border:0px solid white !important;
	font-family: 'SegoeUI';
	font-size:27px;
	
}



.ui-li a{
	/*	Text Color	of the panel content */
	color:white !important;
	height: 100% !important;
	padding: 0px !important;
	padding-left: 70px!important;
	padding-top:20px !important;
	font-family: 'SegoeUI';
}

.ui-li img{
	width:35px;
	height:35px;
	padding-top:23px;	
	padding-left:20px;
}

.formenu {
	position:relative;
	z-index:3;
	top: 29px !important;
	padding: 50px !important;
	padding-left:0px !important;
	padding-top:0px !important;
	left:0px !important;
}

.formenu a:active{
	background-color:none !important;
}
.ui-btn-active { background: none !important; background-color: none !important;  border:0px!important;}

.ui-panel-inner{
}

ul { list-style-type: none; text-align: left; margin:0px;}

.tag{
	background-color: #f6f6f6 !important;
	border:0px solid white !important;
	overflow:hidden !important;
}

.wrapper {
    color:#616161;
    font-size:26px;
    text-align:left;
	padding:30px;
    font-family:'SegoeUI';
    background-color:#f6f6f6 !important;
    border:0px solid white !important;
    height:700px;
    overflow:scroll;
}

.footer{
	width:100%;
	position:absolute;
	top:720px;
    color:black;
    height: 60px;
    background-color:#f6f6f6 !important;
    border:0px solid white !important;
    z-index:3;
}

.taber{
	position:relative;
	width:397px;
	margin: 0 auto -199px;
	color:white;
}

.h_tabs{
	float:left;
	width:130px;
	height:55px;
}

#t_about{ background-color:#f15852; }

#t_about.active{ background-color:#f4a2a2; }

#t_goal{ background-color:#e69843; }

#t_goal.active{ background-color:#facd91; }

#t_target{ background-color:#23baa7; }

#t_target.active{ background-color:#94d2ad; }

p{
	text-shadow:none;
}

selection { text-shadow: none; }

-moz-selection { text-shadow: none; }

h3{
	text-shadow:none;
	color:white;
}

.letter{
	color:#03a2d5;
	text-shadow:none;
	padding: 0px!important;
	margin: 0px!important;
	font-size:30px;
	padding-top:20px !important;
}

.names{
	font-size:25px;
	padding: 0px!important;
	margin: 0px!important;
	margin-left:8px !important;
	margin-right:8px !important;
}

.position{
	font-size:20px;
	color:#9ea4cb;
	padding: 0px!important;
	margin: 0px!important;
	margin-left:8px !important;
	margin-right:8px !important;
}

#map_canvas{
	height:100px;
	border:2px solid #616161;
	overflow: hidden !important;
}


.venue{
	font-size:32px;
	padding: 0px!important;
	margin: 0px!important;
	margin-left:8px !important;
	margin-right:8px !important;
	padding-left:5px !important;
	padding-top:10px !important;
}

.address{
	font-size:22px;
	padding: 0px!important;
	margin: 0px!important;
	margin-left:8px !important;
	margin-right:8px !important;
}

.contact_h{
	color: #616161 !important;
	padding:0px !important;
	margin:0px !important;
	padding-top: 30px !important;
	font-size:25px;
}

.c_email{
	height:40px !important;
	padding-top:0px !important;
}


.c_message{
	height:160px !important;
}

.submit{
	width:100% !important;
	height:60px!important;
	text-decoration: none !important;
	color: white;
	left:0px;
	font-size:20px;
	top: 700px ;
	position: absolute;
	background-color: #22b9a6 !important;
}


.submit:active{
	background-color:#29ddc7 !important;
}

.taber2{
	position:relative;
	width: 100% ;
	color:white;
	background-color: #22b9a6 !important;
	height: 100% !important;
}

